BigVul/Dataset/
BigVul/Functions/
BigVul/CPG/
BigVul/Combined_CPG/
BigVul/Matched_CPG/
BigVul/Combined_CPG_Inverse/
BigVul/Matched_CPG/
BigVul/Matched_CPG_Inverse/
BigVul/Temp/
BigVul/Pickle/
BigVul/Pickle_Inverse/
BigVul/vulInducing/
BigVul/vulFixing/
BigVul/fixingPKL/
BigVul/inducingPKL/
BigVul/Clean_Matched_CPG_2/
BigVul/Clean_Matched_CPG_Inv/
BigVul/vulInducingPKL/
BigVul/Pickle_Inverse/
BigVul/Matched_CPG_Inv//
BigVul/Clean_Matched_CPG_Root/
BigVul/Clean_Matched_CPG_Root_Inv/
BigVul/Matched_CPG_Inverse/
BigVul/Matched_CPG_Root_Inverse/
BigVul/Matched_CPG_Root_Terminal_Inverse/
BigVul/Pickle_Root/
*.out


CVEFixes/CPG/
CVEFixes/Pickle/
CVEFixes/Pickle_Inverse/
CVEFixes/Combined_CPG/
CVEFixes/Functions/